pkgbase = sids
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/leo-arch/xaide
	arch = any
	license = GPL2+
	makedepends = git
	depends = coreutils
	depends = gawk
	depends = findutils
	source = git+https://github.com/leo-arch/xaide.git
	sha256sums = SKIP

pkgname = xaide

